<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>sam.kim Burger Logger</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/burger_page.js"></script>
</head>

<!-- sam.kim Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <img src="assets/img/logo.png" class="logo" width=40px>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Project <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/samdotkim/BurgerLogger" target="_blank">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://sam.kim">Portfolio</a>
      </li>
    </ul>
    <span class="navbar-text">
      <img src="assets/img/logo-NW.jpg" height=40px>
    </span>
  </div>
</nav>

<body>
	{{{ body }}}
</body>

</html>